/* main block related */
main {
    background: linear-gradient(180deg, #4D81B3 0%, #89B0D6 100%);
    padding-top: 102px;
    padding-bottom: 58px;
    overflow: hidden;
    text-align: center;
}

h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 110%;
    text-align: center;
    font-family: var(--font-ss3);
    margin: 10px;
    z-index: 5;
}

.h1-subheader,
.h2-subheader {
    font-family: var(--font-ops);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: white;
    padding: 0 10px;
    margin: 0 auto;
    z-index: 5;
    max-width: 560px;
}
.h2-subheader {
    font-size: 16px;
}

.h1-subheader a,
.h2-subheader a {
    border-bottom: 1px solid hsl(0deg 0% 100% / 50%);
    transition: border .4s ease-out;
}

.h1-subheader a:hover,
.h2-subheader a:hover  {
    border-bottom: 2px solid hsl(0deg 0% 100%);
    transition: none;
}
/* --- */


/* Comparison related */
.comparison{
}

h2 {
    font-style: normal;
    font-weight: 450;
    font-size: 44px; /* Adjusted size */
    line-height: 120%; /* Adjusted line height */
    text-align: center;
    font-family: var(--font-ss3);
    margin: 64px 0 10px;
    z-index: 5;
}

.comparison-table .icon {
    vertical-align: middle;
    display: inline-block;
    flex-shrink: 0;
    background-color: currentColor;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-image: var(--icon);
    -webkit-mask-image: var(--icon);
    width: 24px;
    height: 24px;
}
.icon-infinity{
    --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e%3cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 12c-2-2.67-4-4-6-4a4 4 0 1 0 0 8c2 0 4-1.33 6-4Zm0 0c2 2.67 4 4 6 4a4 4 0 1 0 0-8c-2 0-4 1.33-6 4Z'/%3e%3c/svg%3e");
}

.comparison-table{
    --border-radius: 11px;
    border-collapse: collapse;
    margin: 24px auto 48px;
    font-family: var(--font-ss3);
    color: hsl(223, 40%, 25%);
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    border-radius: var(--border-radius);
    background: hsla(0, 0%, 100%, 0.8);
}
.comparison-table tr{
    transition: all 200ms ease-out;
}
.comparison-table tr:hover {
    background-color: hsla(0, 0%, 100%, 0.3);
    
}
.comparison-table th:first-child {
    border-top-left-radius: var(--border-radius);
}
.comparison-table th:last-child {
    border-top-right-radius: var(--border-radius);
}

.comparison-table th,
.comparison-table .subheader{
    position: sticky;
    font-weight: 700;
    color: hsl(223 40% 30% / 1);
    background: hsl(209, 41%, 94%);
    transition: all 200ms ease-out;
}
.subheader-filler{
    background: hsl(209, 41%, 94%);
}
.comparison-table th{
    padding: 12px 2px 10px;
    top: 60px;
    z-index: 1;
}
.comparison-table td.subheader.comparison-table-feature{
    font-weight: 600;
    color: hsl(223 40% 30% / 0.8);
    top: 60px;
    z-index: 2;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.1ch;
}
.comparison-table th.sticky{
    padding: 8px 2px 8px;
    border-radius: 0;
}

.comparison-table td{
    padding: 8px 8px 8px;
    border-top: 1px solid hsla(209, 40%, 40%, 0.3);
    line-height: 18px;
}

.comparison-table colgroup col:first-child {
    width: 340px;
}
.comparison-table colgroup col {
    width: 112px;
}
.comparison-table th.comparison-table-feature,
.comparison-table td.comparison-table-feature{
    text-align: left;
    padding-left: 14px;
}
.comparison-table td.comparison-table-feature{
    color: hsl(223, 40%, 16%);
}
.comparison-table-feature-desc{
    font-size: 14px;
    opacity: 0.7;
}
.comparison-value-positive{
    color: hsl(147 80% 22% / 1);
    position: relative;
}
.comparison-infinity::after{
    content: attr(aria-label);
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 0 4px;
    border-radius: 5px;
    background-color: #e2e9f2;
    opacity: 1;
    position: absolute;
    top: calc(50% + 8px);
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 301s linear, opacity 250ms ease-out;
}
.comparison-infinity:hover::after{
    transition: visibility 0s linear, opacity 250ms ease-out;
    transition-delay: 200ms;
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1139px) {
  
}

@media (max-width: 940px) {
    h1 {
        font-size: 40px;
    }

    .h1-subheader {
        font-size: 16px;
    }

}

@media (max-width: 700px) {
    
}

@media (max-width: 500px) {
    

}

/* Dark theme modifications */
@media (prefers-color-scheme: dark) {
    body{
        background: hsl(209deg 63% 40%);
    }
    
    main {
      background: linear-gradient(180deg, hsl(209deg 63% 40%) 30%, hsl(238deg 28% 50%) 100%);
    }
    
}