/* main block related */
main {
    background: linear-gradient(180deg, #4D81B3 0%, #89B0D6 100%);
    padding-top: 102px;
    padding-bottom: 58px;
    overflow: hidden;
    text-align: center;
}

h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 110%;
    text-align: center;
    font-family: var(--font-ss3);
    margin: 10px;
    z-index: 5;
}

.h1-subheader,
.h2-subheader {
    font-family: var(--font-ops);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: white;
    padding: 0 10px;
    margin: 0 auto 16px;
    z-index: 5;
    max-width: 560px;
}

.h2-subheader {
    font-size: 16px;
}

.h1-subheader a,
.h2-subheader a {
    border-bottom: 1px solid hsl(0deg 0% 100% / 50%);
    transition: border .4s ease-out;
}

.h1-subheader a:hover,
.h2-subheader a:hover {
    border-bottom: 2px solid hsl(0deg 0% 100%);
    transition: none;
}

/* --- */


/* Comparison related */
.comparison {
    width: 100%;
}

h2 {
    font-style: normal;
    font-weight: 450;
    font-size: 44px;
    /* Adjusted size */
    line-height: 120%;
    /* Adjusted line height */
    text-align: center;
    font-family: var(--font-ss3);
    margin: 64px 0 10px;
    z-index: 5;
}

.comparison-tabs .icon,
.comparison-table .icon {
    vertical-align: middle;
    display: inline-block;
    flex-shrink: 0;
    background-color: currentColor;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-image: var(--icon);
    -webkit-mask-image: var(--icon);
    width: 24px;
    height: 24px;
}
.comparison-tabs .icon-plan,
.comparison-table .icon-plan {
    width: 16px;
    height: 16px;
}

.icon-infinity {
    --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e%3cpath fill='black' fill-rule='evenodd' d='M2.464 8.464A5 5 0 0 1 6 7c2.16 0 4.155 1.251 6 3.4C13.845 8.251 15.84 7 18 7a5 5 0 1 1 0 10c-2.16 0-4.155-1.251-6-3.4-1.845 2.149-3.84 3.4-6 3.4a5 5 0 0 1-3.536-8.536ZM10.731 12C8.983 9.857 7.4 9 6 9a3 3 0 1 0 0 6c1.4 0 2.983-.857 4.731-3Zm2.538 0c1.748 2.143 3.331 3 4.731 3a3 3 0 0 0 0-6c-1.4 0-2.983.857-4.731 3Z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.icon-check {
    --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e%3cpath fill='black' fill-rule='evenodd' d='M20.707 5.793a1 1 0 0 1 0 1.414l-11 11a1 1 0 0 1-1.414 0l-5-5a1 1 0 1 1 1.414-1.414L9 16.086 19.293 5.793a1 1 0 0 1 1.414 0Z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.icon-x {
    --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e%3cpath fill='black' d='M18.707 6.707a1 1 0 0 0-1.414-1.414L12 10.586 6.707 5.293a1 1 0 0 0-1.414 1.414L10.586 12l-5.293 5.293a1 1 0 1 0 1.414 1.414L12 13.414l5.293 5.293a1 1 0 0 0 1.414-1.414L13.414 12l5.293-5.293Z'/%3e%3c/svg%3e");
}

.icon-wrench {
    --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e%3cpath fill='black' fill-rule='evenodd' d='M16.578 3.36a5.25 5.25 0 0 0-5.866 7.302.75.75 0 0 1-.153.84l-6.91 6.91a1.371 1.371 0 0 0 1.94 1.94l6.91-6.91a.75.75 0 0 1 .839-.154 5.25 5.25 0 0 0 7.301-5.866l-2.915 2.915a1.75 1.75 0 0 1-2.45 0l-.006-.005-1.605-1.606a1.75 1.75 0 0 1 0-2.45l.005-.005 2.91-2.91Zm-2.293-1.503a6.75 6.75 0 0 1 3.993.491.75.75 0 0 1 .22 1.214l-3.766 3.766a.25.25 0 0 0 0 .347l1.593 1.593a.25.25 0 0 0 .347 0L20.438 5.5a.75.75 0 0 1 1.214.221 6.75 6.75 0 0 1-8.445 9.131l-6.557 6.56a2.871 2.871 0 1 1-4.06-4.06l6.558-6.56a6.75 6.75 0 0 1 5.138-8.935Z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.icon-cloud{
    --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='%23313F68' d='M4.333 13.333c-1.01 0-1.875-.35-2.591-1.05-.717-.7-1.075-1.555-1.075-2.566 0-.867.26-1.64.783-2.317A3.465 3.465 0 0 1 3.5 6.1a4.525 4.525 0 0 1 1.667-2.483A4.561 4.561 0 0 1 8 2.667c1.3 0 2.403.452 3.308 1.358.906.906 1.359 2.008 1.359 3.308a2.91 2.91 0 0 1 1.908.992c.506.572.758 1.242.758 2.008 0 .834-.291 1.542-.875 2.125a2.893 2.893 0 0 1-2.125.875h-8Z' opacity='.5'/%3e%3c/svg%3e");
}
  
.icon-hard-drive{
    --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='%23313F68' fill-opacity='.5' d='M11.333 10.667a.98.98 0 0 0 .709-.284.957.957 0 0 0 .291-.716.964.964 0 0 0-.291-.709.965.965 0 0 0-.709-.291.957.957 0 0 0-.716.291.979.979 0 0 0-.284.709.971.971 0 0 0 1 1ZM1.333 6 3.6 3.733c.122-.122.264-.22.425-.291.161-.073.336-.109.525-.109h6.883c.19 0 .364.036.525.109.161.072.303.17.425.291L14.667 6H1.333Zm1.334 6.667a1.29 1.29 0 0 1-.95-.384 1.29 1.29 0 0 1-.384-.95v-4h13.334v4c0 .378-.13.695-.392.95a1.298 1.298 0 0 1-.942.384H2.667Z'/%3e%3c/svg%3e");
}

.comparison-table {
    --border-radius: 11px;
    border-collapse: collapse;
    margin: 16px auto 48px;
    font-family: var(--font-ss3);
    color: hsl(223, 40%, 25%);
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    border-radius: var(--border-radius);
    background: hsla(0, 0%, 100%, 0.8);
}

.comparison-table a {
    color: hsl(210, 94%, 30%);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    text-decoration-color: hsla(210, 94%, 30%, 0.2);
}

.comparison-table a:hover {
    text-decoration: underline;
    color: hsl(210, 100%, 45%);
    text-decoration-color: hsla(210, 100%, 45%, 0.7);
}

.comparison-table a:active {
    text-decoration: underline;
    color: hsl(210, 100%, 40%);
    text-decoration-color: hsla(210, 100%, 40%, 1);
}

.comparison-table tr {
    transition: all 200ms ease-out;
}

.comparison-table tr:hover {
    background-color: hsla(0, 0%, 100%, 0.3);

}

.comparison-table th:first-child {
    border-top-left-radius: var(--border-radius);
}

.comparison-table th:last-child {
    border-top-right-radius: var(--border-radius);
}

.comparison-table th,
.comparison-table .subheader {
    position: sticky;
    font-weight: 700;
    color: hsl(223 40% 30% / 1);
    background: hsl(209, 41%, 94%);
    transition: all 200ms ease-out;
}
.comparison-table .subheader {
    border-radius: 5px;
}

.subheader-filler {
    background: hsl(209, 41%, 94%);
}

.comparison-table th {
    padding: 12px 2px 10px;
    top: 60px;
    z-index: 1;
}

.comparison-table td.subheader.comparison-table-feature {
    font-weight: 600;
    color: hsl(223 40% 30% / 0.8);
    top: 60px;
    z-index: 2;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.1ch;
}

.comparison-table.comparison-all td.subheader.comparison-table-feature {
    padding-top: 15px;
}

.comparison-table th.sticky {
    padding: 8px 2px 8px;
    border-radius: 0;
}
.comparison-table.comparison-all th.sticky {
    padding-top: 4px;
    padding-bottom: 4px;
}

.comparison-table td {
    padding: 8px 8px 8px;
    border-top: 1px solid hsla(209, 40%, 40%, 0.3);
    line-height: 18px;
}

.comparison-table colgroup col:first-child {
    width: 340px;
}

.comparison-table th.comparison-table-feature,
.comparison-table td.comparison-table-feature {
    text-align: left;
    padding-left: 14px;
}

.comparison-table td.comparison-table-feature {
    color: hsl(223, 40%, 16%);
}

.comparison-table-feature-desc {
    font-size: 14px;
    opacity: 0.7;
    margin-top: 4px;
}

.comparison-value-positive,
.comparison-value-warning,
.comparison-value-negative{
    position: relative;
    font-size: 0.9375em;
}

.comparison-value-positive {
    color: hsl(147 80% 29% / 1);
}

.comparison-value-warning {
    color: hsla(42, 85%, 35%, 1);
}

.comparison-value-negative {
    color: hsla(224, 8%, 50%, 1);
}

.comparison-value-positive::after,
.comparison-value-warning::after,
.comparison-value-negative::after {
    content: attr(aria-label);
    white-space: nowrap;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    display: block;
    padding: 2px 4px;
    border-radius: 5px;
    background-color: #e6eef5;
    /*the color of mixed hover row with bg*/

    opacity: 1;
    position: absolute;
    top: calc(50% + 11px);
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 301s linear, opacity 250ms ease-out;
}

.comparison-value-positive:hover::after,
.comparison-value-warning:hover::after,
.comparison-value-negative:hover::after {
    transition: visibility 0s linear, opacity 250ms ease-out;
    transition-delay: 200ms;
    visibility: visible;
    opacity: 1;
}

/* Switch related */
/* default */
table#cloud-comparison._hidden,
table#self-hosted-comparison._hidden,
table#all-pans-comparison._hidden {
    display: none; 
}

.comparison-tabs-wrapper {
    display: flex;
    justify-content: center;
}
.comparison-tabs {
    display: flex;
    justify-content: center;
    background-color: hsla(0, 0%, 100%, 0.7);
    padding: 3px;
    border-radius: 6px;
    gap: 3px;
}
.comparison-tab {
    font-family: var(--font-ops);
    font-size: 14px;
    padding: 2px 8px;
    color: hsl(223deg 40% 30%);
    font-weight: 600;
    border: none;
    background: hsla(0, 0%, 100%, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    transition: all 120ms ease-out;
}
.comparison-tab:hover{
    transition: none;
    background: hsla(0, 0%, 100%, 0.4);
}
.comparison-tab:active{
    transition: all 120ms ease-out;
    background: hsla(0, 0%, 100%, 0.7);
}

.comparison-tab._selected{
    background: hsla(0, 0%, 100%, 0.8);
    cursor: default;
}

@media (max-width: 940px) {
    h1 {
        font-size: 40px;
    }

    .h1-subheader {
        font-size: 16px;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 4px;
    }

    .h2-subheader {
        font-size: 14px;
    }
}

@media (max-width: 760px) {

    .comparison-table th,
    .comparison-table th.sticky {
        font-size: 13px;
        line-height: 14px;
        box-sizing: border-box;
        height: 44px;
        padding: 4px 8px 4px;
    }
    #all-pans-comparison.comparison-table th,
    #all-pans-comparison.comparison-table th.sticky {
        padding: 4px 2px 4px;
    }

    .comparison-table td {
        font-size: 14px;
        line-height: 16px;
        padding: 4px 0px 4px;
        border-top: 1px solid hsla(209, 40%, 40%, 0.3);
        line-height: 18px;
    }

    .comparison-table td.subheader.comparison-table-feature {
        font-size: 13px;
        line-height: 16px;
        box-sizing: border-box;
        height: 44px;
        padding-bottom: 4px;
        padding-top: 4px;
    }

    .comparison-table td.comparison-table-feature {
        font-size: 14px;
    }

    .comparison-table th.comparison-table-feature,
    #all-pans-comparison.comparison-table th.comparison-table-feature,
    .comparison-table td.comparison-table-feature {
        padding-left: 8px;
    }
    .comparison-table td.comparison-table-feature{
        word-break: break-word;
    }

    .comparison-table-feature-desc {
        font-size: 12px;
        line-height: 14px;
    }

    .comparison-table td.comparison-value-positive,
    .comparison-table td.comparison-value-warning,
    .comparison-table td.comparison-value-negative {
        font-size: 13px;
        line-height: 14px;
    }

    .comparison-value-positive::after,
    .comparison-value-warning::after,
    .comparison-value-negative::after {
        display: none;
    }
    .comparison-table colgroup col:first-child {
        width: 200px;
    }
}

@media (max-width: 420px) {
    #all-pans-comparison.comparison-table colgroup col:first-child {
        width: 120px;
    }
    .comparison-table .icon{
        transform: scale(0.75);
    }
    .comparison-tabs .icon{
        transform: scale(1);
    }
    #all-pans-comparison .comparison-plan-label{
        width: 30px;
        overflow: visible;
    }
    
}

/* Dark theme modifications */
@media (prefers-color-scheme: dark) {
    body {
        background: hsl(209deg 63% 40%);
    }

    main {
        background: linear-gradient(180deg, hsl(209deg 63% 40%) 30%, hsl(238deg 28% 50%) 100%);
    }

    .comparison-value-positive::after,
    .comparison-value-warning::after,
    .comparison-value-negative::after {
        background-color: #e2e9f2;
    }

}